.chrono{
  font-family: sans-serif;  
  width: 40px;  
  width: 400px;
}

.chrono .progress-bar-wrapper{
  outline: 1px solid #333;  
  border: 1px solid #fff;
  height: 10px;
  margin: 10px 0;
  position: relative;
  width: 100%;
}

.chrono .progress-bar{
  background: #333;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}


